$first-color: #020e0f;
$second-color: #079697;
$third-color: #032261;
$fourth-color: #02380f;
$fifty-color: #0c9944;
$text-color: #ffffff;
$bg-inputs: #a6a6a6;
$bg-buttons: #02140a;


$bg-body:  linear-gradient(180deg,
#020e0f, 
#032261, 
#079697);

a{
    color: $text-color;
}